{% extends 'base.html' %} {% block title %}Welcome{% endblock title %} 

{% block content %}

<div class="row-sm p-sm-5">
    <div class="col-sm-12 p-sm-5">
        <h2> About Us</h2>
        <p>
           We are a team of dedicated Third-Year undergraduate students of KES SHROFF college. The project was made under the atmost guidance of Prof. Prashant sir.
           <br> We share a passion for agriculture and technology. Our project on the Crop Recommendation System is a testament to our commitment on improving the lives for farmers.</br>
           <br> With a combination of cutting-edge technology and a deep understanding of agricultural practices, we aim to empower farmers with personalized Crop Recommendations, ultimately enhancinng crop yields and sustainability.</br>
           <br> Join us on our journey as we bridge the gap between farming and technology for a greener future</br>
        </p>
    </div>  
</div>


{% endblock content %}